<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Accueil</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>

</head>
<body>
	<div class="col-md-4 col-md-offset-3" style="width: 50%;">
		<div class="panel panel-primary">
			<div class="panel-heading" style="text-align: center;">Bienvenue</div>
			<div class="panel-body" style="text-align: center;">	
			<p>Bonjour th:text="${admin.username}"</p>		
				<table>
					<tr>					
						<th><a href="nvlAgence.html" style="margin: 14px;">Créer une nouvelle agence</a></th>
						<th><a href="nvlAgent.html" style="margin: 14px;">Ajouter un agent</a></th>
						<th><a href="suppAgent.html" style="margin: 14px;">Supprimer un agent</a></th>
						<th><a href="modifAgence.html" style="margin: 14px;">Modifier une agence</a></th>	
					</tr>				
				</table>			
			</div>
		</div>
	</div>
</body>
</html>