<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Authentification</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>

</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
<!--  	<div class="col-md-4 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Authentification</div>
			<div class="panel-body">
			<div th:if="${param.error}">
				Nom d'utilisateur ou mot de passe invalide
			</div>
			<div th:if="${param.logout}">
				Vous n'êtes plus connectés
			</div>
				<form th:action="@{/login}" method="post" sec:authorize="hasRole('Role_ADMIN')">
					<div>
						<label>Nom d'utilisateur :</label>
						<input type="text" name="username"/>
					</div>
					<div>
						<label>Mot de passe :</label>
						<input type="password" name="password"/>
					</div>
					<a href="accueil.html"><button type="submit">Connexion</button></a>
				</form>
			</div>
		</div>
	</div>    -->
</body>
</html>