<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Modification</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>

</head>
<body>
	<div class="col-md-4 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Supprimer un agent</div>
			<div class="panel-body">
			
				<form th:action="@{}" method="post" sec:authorize="hasRole('Role_ADMIN')">
				<h4>Coordonnées de l'agent</h4>
					<div>
						<label>Nom  :</label>
						<input type="text" name="nomAgent"/>
					</div>
					<div>
						<label>Prénom :</label>
						<input type="text" name="prenom"/>
					</div>
					<div>
						<label>CIN :</label>
						<input type="text" name="cin"/>
					</div>
					<div>
						<label>Ancienne agence:</label>
						<input type="text" name="o_agence"/>
					</div>
					<div>
						<label>Nouvelle agence:</label>
						<input type="text" name="n_agence"/>
					</div>
					<h4>Coordonnées de l'agence</h4>
					<div>
						<label>Nom  :</label>
						<input type="text" name="nomAgence"/>
					</div>
					<div>
						<label>Adresse  :</label>
						<input type="text" name="adressAgent"/>
					</div>
					<div>
						<label>Ancien agent  :</label>
						<input type="text" name="o_Agent"/>
					</div>
					<div>
						<label>Nouvel agent  :</label>
						<input type="text" name="n_Agent"/>
					</div>
					<button type="submit">Valider</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>



