<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Nouvelle_Agence</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>

</head>
<body>
	<div class="col-md-4 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Créer une nouvelle agence</div>
			<div class="panel-body">
			
				<form th:action="@{/newAgence}" method="post" sec:authorize="hasRole('Role_ADMIN')">
					<div>
						<label>Nom de l'agence :</label>
						<input type="text" name="nomAgence"/>
					</div>
					<div>
						<label>Adresse :</label>
						<input type="text" name="adress"/>
					</div>
					<div>
						<label>Agent :</label>
						<input type="text" name="agent"/>
					</div>
					
					<button type="submit">Valider</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>