<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Accueil</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
</head>
<body>

	<p>Bonjour th:text="${admin.username}"</p>	
	<p>L'agent th:text="${agent.nom}" dont le matricule est th:text="${agent.id}" a été supprimé avec succès</p>	

</body>
</html>